.chat {flex: 0.7;flex-grow: 1;overflow-y: scroll;}

.chat::-webkit-scrollbar{
    width:0;
}
.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.chatHeader__left {
    display: flex;
    align-items: center;
}

.chatHeader__right {
    display: flex;
    align-items: center;
}

.chatHeader__right p {
    display: flex;
    align-items: center;
}

.chatHeader__left h4 {
    display: flex;
    text-transform: lowercase;
}

.chatHeader__left .MuiSvgIcon-root {
    margin-left: 9px;
    font-size: 22px;
    color: deeppink;
}


.chat__input{
    position: relative;
    display: flex;
    justify-content: center;
}

.chat__input form {
    position: fixed;
    bottom: 30px;
    border: 1px solid gray;
    width: 70%;
    border-radius: 5px;
    padding: 6px 15px;
    outline: none;
    display: flex;
    z-index: 10000;
    background: white;
}

.chat__input form input {
    flex: 1;
    outline: none;
    border: none;
    padding: 7px;
}

.chat__input form button {
    display: none;
}

.message{
    display: flex;
    align-items:center;
    padding: 15px;
}
.message img{
    height:50px;
    object-fit: contain;
    border-radius: 9px;
}

.message .message__info{
    padding-left: 10px;
}

.message__info h4 {
    font-size: 13px;
    font-weight: 400;
}

.message__info p {
    font-size: 19px;
    padding-top: 5px;
}

.message__info h4 span {
    color: gray;
    font-size: 11px;
    margin-left: 10px;
}
.scrool__toBottom{
    padding-bottom:200px;
}