.header{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background:var(--bg-color);
    color:white;
}
.header__left{
    display: flex;
    align-items:center;
    flex: 0.3;
    margin-left: 20px;
}

.header__left .watch{
    margin-left:auto;
    margin-right: 30px;
}

.header__left .avatar {
    margin: unset !important;
    cursor: pointer;
}
.header__left .avatar:hover{
    cursor: pointer !important;
    opacity: 0.9;
    transform: scale(1.2);
    transition: .1s ease;

}
.header__middle {
    background: #421f44;
    flex: 0.4;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.header__middle input {
    flex: 1;
    background: transparent;
    border: none;
    text-align: center;
    min-width: 30vw;
    color: white;
    outline: none;
}


.header__right {
    flex: 0.3;
    display: flex;
    align-items: center;
}

.header__right svg.MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}